[submodule "nlassert"]
	path = third_party/nlassert/repo
	url = https://github.com/nestlabs/nlassert.git
	branch  = master
[submodule "nlfaultinjection"]
	path = third_party/nlfaultinjection/repo
	url = https://github.com/nestlabs/nlfaultinjection.git
	branch  = master
[submodule "nlio"]
	path = third_party/nlio/repo
	url = https://github.com/nestlabs/nlio.git
	branch  = master
[submodule "nlunit-test"]
	path = third_party/nlunit-test/repo
	url = https://github.com/nestlabs/nlunit-test.git
	branch  = master
[submodule "mbedtls"]
	path = third_party/mbedtls/repo
	url = https://github.com/ARMmbed/mbedtls.git
	branch = mbedtls-2.28
[submodule "qrcode"]
	path = examples/common/QRCode/repo
	url = https://github.com/nayuki/QR-Code-generator.git
	branch  = master
[submodule "pigweed"]
	path = third_party/pigweed/repo
	url = https://github.com/google/pigweed.git
	branch  = main
[submodule "openthread"]
	path = third_party/openthread/repo
	url = https://github.com/openthread/openthread.git
	branch  = main
[submodule "nanopb"]
	path = third_party/nanopb/repo
	url = https://github.com/nanopb/nanopb.git
	branch  = master
[submodule "zap"]
	path = third_party/zap/repo
	url = https://github.com/project-chip/zap.git
	branch  = master
[submodule "freertos"]
	path = third_party/freertos/repo
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch  = V10.3.1-kernel-only
	platforms = ameba,cc13x2_26x2,bl602,efr32,esp32,k32w0,infineon,qpg
[submodule "third_party/jsoncpp/repo"]
	path = third_party/jsoncpp/repo
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third_party/boringssl/repo/src"]
	path = third_party/boringssl/repo/src
	url = https://github.com/google/boringssl.git
